'.source.js.jsx':
  'mocha describe':
    'prefix': 'describe'
    'body': 'describe(\'$1\', () => {\n\t$2\n});\n$3'
  'mocha context':
    'prefix': 'context'
    'body': 'context(\'$1\', () => {\n\t$2\n});\n$3'
  'mocha it':
    'prefix': 'it'
    'body': 'it(\'$1\', () => {\n\t$2\n});\n$3'
  'mocha specify':
    'prefix': 'specify'
    'body': 'specify(\'$1\', () => {\n\t$2\n});\n$3'
  'mocha before':
    'prefix': 'before'
    'body': 'before(() => {\n\t$2\n});\n$3'
  'mocha after':
    'prefix': 'after'
    'body': 'after(() => {\n\t$2\n});\n$3'
  'mocha beforeEach':
    'prefix': 'beforeEach'
    'body': 'beforeEach(() => {\n\t$2\n});\n$3'
  'mocha afterEach':
    'prefix': 'afterEach'
    'body': 'afterEach(() => {\n\t$2\n});\n$3'
  'mocha pending':
    'prefix': 'pending'
    'body': 'it(\'$1\');'
  'mocha retries':
    'prefix': 'retries'
    'body': 'this.retries(${1:integer});'
  'mocha timeout':
    'prefix': 'timeout'
    'body': 'this.timeout(${1:milliseconds});'
